body,html{margin:0;padding:0;height:100%;}
body{background-image:url('skeleLaugh.gif');}
.wrap{
  position:relative;
  width:80vmin; height:80vmin;
  margin:0 auto;
  background:;
  transform:scale(0.2) translatez(0px);
  opacity:0;
  transition:transform .5s, opacity .5s;
}
a{
  position:absolute;
  left:0; top:0;
  width:47.5%; height:47.5%;
  overflow:hidden;
  transform:scale(.5) translateZ(0px);
  background:#585247;
}
a div{
  height:100%;
  background-size:cover;
  opacity:.3;
  transition:opacity .5s;
  border-radius:inherit;
}
a:nth-child(1){
  border-radius:0 30vmin 0 0;
  width: 50%; height: 50%; 
  left:50%;
  transform-origin: -10% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(1) div{
  background-color: #bec8d1;
}
a:nth-child(2){
  border-radius:0 30vmin 0 0;
  width: 40%; height: 40%; 
  left:50%; top:10%;
  transform-origin: -10% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(2) div{
  background-color: #86cecb;
}
a:nth-child(3){
  border-radius:0 30vmin 0 0;
  width: 30%; height: 30%; 
  left:50%; top:20%;
  transform-origin: -10% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(3) div{
  background-color: #137a7f;
}
a:nth-child(4){
  border-radius:0 30vmin 0 0;
  width: 20%; height: 20%; 
  left:50%; top:30%;
  transform-origin: -10% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(4) div{
  background-color:   #e12885;
}
a:nth-child(5){
  border-radius:0 0 30vmin 0;
  width: 50%; height: 50%; 
  top:50%; left:50%;
  transform-origin: -10% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(5) div{
  background-color: #bec8d1;
}
a:nth-child(6){
  border-radius:0 0 30vmin 0;
  width: 40%; height: 40%; 
  top:50%; left:50%;
  transform-origin: -10% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(6) div{
  background-color: #86cecb;
}
a:nth-child(7){
  border-radius:0 0 30vmin 0;
  width: 30%; height: 30%; 
  top:50%; left:50%;
  transform-origin: -10% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(7) div{
  background-color: #137a7f;
}
a:nth-child(8){
  border-radius:0 0 30vmin 0;
  width: 20%; height: 20%; 
  top:50%; left:50%;
  transform-origin: -10% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(8) div{
  background-color:   #e12885;
}
a:nth-child(9){
  border-radius:0 0 0 30vmin;
  width: 50%; height: 50%; 
  top:50%;
  transform-origin: 110% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(9) div{
  background-color: #bec8d1;
}
a:nth-child(10){
  border-radius:0 0 0 30vmin;
  width: 40%; height: 40%; 
  top:50%; left:10%;
  transform-origin: 110% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(10) div{
  background-color: #86cecb;
}
a:nth-child(11){
  border-radius:0 0 0 30vmin;
  width: 30%; height: 30%; 
  top:50%; left:20%;
  transform-origin: 110% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(11) div{
  background-color: #137a7f;
}
a:nth-child(12){
  border-radius:0 0 0 30vmin;
  width: 20%; height: 20%; 
  top:50%; left:30%;
  transform-origin: 110% -10%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(12) div{
  background-color:   #e12885;
}
a:nth-child(13){
  border-radius: 30vmin 0 0 0;
  width: 50%; height: 50%; 
  
  transform-origin: 110% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(13) div{
  background-color: #bec8d1;
}
a:nth-child(14){
  border-radius: 30vmin 0 0 0;
  width: 40%; height: 40%; 
  top:10%; left:10%;
  transform-origin: 110% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(14) div{
  background-color: #86cecb;
}
a:nth-child(15){
  border-radius: 30vmin 0 0 0;
  width: 30%; height: 30%; 
  top:20%; left:20%;
  transform-origin: 110% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(15) div{
  background-color: #137a7f;
}
a:nth-child(16){
  border-radius: 30vmin 0 0 0;
  width: 20%; height: 20%; 
  top:30%; left:30%;
  transform-origin: 110% 110%;
  transition:transform .4s ease;
  opacity:.3;
}
a:nth-child(16) div{
  background-color:   #e12885;
}
a:nth-child(17){
  width:20%; height:20%;
  left:40%; top:40%;
  border-radius:10vmin;
  box-shadow:0 0 0 1vmin #E3DFD2;
  transform:scale(1);
}
a:nth-child(17) div{
  background-image: url('pointblank.png');
}
span{
  position:relative;
  display:block;
  margin:0 auto;
  top:45vmin;
  width:10vmin; height:10vmin;
  border-radius:100%;
  background-image: url('skeleSlash.gif');
  transform:translateZ(0px);
}
span span{
  position:absolute;
  width:80%;height:0px;
  left:0%; top:50%;
  border-radius:0;
}
span span:after, span span:before{
}
span span:after{
  top:1.5vmin;
}
span:hover + .wrap, .wrap:hover{
  transform:scale(1) translateZ(0px);
  opacity:1;
}
span:hover + .wrap a, .wrap:hover a{
  transform:scale(1) translateZ(0px);
}
a:hover div{
  opacity:1;
  transform:translatez(0px);
}